.metadata/
RemoteSystemsTempFiles
.lock-waf_linux2_build
_build
*pyc
SnapEMS SnapEMS2
ctp_share ctp_share.tar
ctp_share
SnapEMS
SnapEMS2
ctp_share.tar
quickfix/
.settings/
playground/.externalToolBuilders/
